* {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 2;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,0.9025735294117647) 0%, rgba(210,245,255,1) 100%);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  margin-top: 20px;
  padding: 40px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.IncomeForm {
  float: left;
  display: inline;
  width: 33%;
  line-height: 60px;
}

.IncomeForm form button {
  margin-top: 20px;
  margin-left: 10px;
}
.ExpenseForm {
  float: left;
  display: inline;
  width: 33%;
  line-height: 60px;
}

.IncomeExpense {
  float: left;
  display: inline;
}

.ExpenseForm form button {
  margin-top: 20px;
  margin-left: 10px;
}

.TargetForSaving {
  float: left;
  display: inline;
  width: 33%;
  line-height: 60px;
}

.TargetForSaving form button {
  margin-top: 20px;
  margin-left: 10px;
}

.TransferForSavingForm {
  float: left;
  width: 49%;
  margin-left: 10%;
  line-height: 60px;
}
.TransferForSavingForm input,
label {
  display: flex;
  flex-direction: column;
}

.TransferForSavingForm form button {
  margin-top: 20px;
  margin-left: 10px;
}

input[type="text"] {
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
  max-width: 300px;
}

input[type="number"] {
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
  max-width: 300px;
}

input[type="date"] {
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
  max-width: 300px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: rgb(34,193,195);
  ;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: #fff;
  color: #000; 
  padding: 16px;
  margin: 16px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.IncomeForm,
.ExpenseForm,
.TargetForSaving,
.TransferForSavingForm {
  float: left;
  width: 32%; 
  margin: 0.5%; 
  box-sizing: border-box; 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .IncomeForm,
  .ExpenseForm,
  .TargetForSaving,
  .TransferForSavingForm {
    width: 100%;
    margin: 0;
    margin-top: 10%;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #efe9e9;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@supports (-webkit-text-size-adjust: none) {
  body {
    -webkit-text-size-adjust: 100%;
  }
}
