* {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 2;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  margin-top: 20px ;
  padding: 40px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.IncomeForm{
  float:left; 
  display:inline; 
  width: 33%;
  line-height: 60px;
}

.IncomeForm form button{
  margin-top: 20px;
  margin-left: 100px;
}
.ExpenseForm{
  float:left; 
  display:inline; 
  width: 33%;
  line-height: 60px;
}

.IncomeExpense{
  float:left; 
  display:inline; 
}

.ExpenseForm form button{
  margin-top: 20px;
  margin-left: 100px;
}

.TargetForSaving{
  float:left; 
  display:inline; 
  width: 33%;
  line-height: 60px;
}

.TargetForSaving form button{
  margin-top: 20px;
  margin-left: 100px;
}

.TransferForSavingForm{
  float:left; 
  width: 49%;
  margin-left: 390px;
  line-height: 60px;
}
.TransferForSavingForm input, label{
  display:flex;
  flex-direction:column;
}

.TransferForSavingForm form button{
  margin-top: 20px;
  margin-left: 100px;
}

input[type="text"] {
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
  max-width: 300px;
}

input[type="number"] {
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
  max-width: 300px;
}

input[type="date"] {
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 80%;
  max-width: 300px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #efe9e9;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
